$sidebar-green: #23ffac;
$black: #000;
$black-box-outer-glow: rgba(0,0,0,0.12);
$black-button-outer-glow: rgba(0,0,0,0.48);
$blue-gray: #333c5a;
$gray: #959595;
$gray-light: #dcdcdc;
$gray-lightest: #f5f5f5;
$mint-green: #91ff7d;
$spring-green: #23ffac;
$hint-of-green: #deffec;
$answer-box-gray: #dcdcdc;
$dark-gray: #767676;
$background-search: #e3e6eb;
$background-gray: #F3F8F9;
$border-search: #faf9f9;
$font-search: #6b7c8e;
$white: white;
$black: black;
$button-green: #73ad21;
$gray-type-style: #ccc;
$blue-loader: #3296b0;
$dark-pink: #ff023f;
$blue-green: #f7f9fa;
$blue-question: #333b5b;
$white-search: #fafafa;
$gray-not-found: #808080;
$blue-not-found: #4469b0;
$joke-not-found: #898989;
$link-not-found: #5f74b4;
$red-light: #FF4B4B;
$watery-green: #5cffa4;
$white-green: #E8FFD2;
$lavender-magenta: #f572ec;
