.login {
  margin-top: 2em;

  span {
    color: $red;
    font-size: 0.8em;
  }

  &.login-title {
    background-image: url('../icons/rootstrap-isologo.svg');
    background-position: right 1.5em center;
    background-repeat: no-repeat;
    background-size: 2em;
    border-bottom: 3px solid;
    border-color: $spring-green;
    font-size: 2em;
    height: 2em;
    padding: 0.5em 1.5em;
  }
}

.login-container {
  margin-top: 2em;
}

.login-position {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.login-form-container {
  border-bottom: 3px solid;
  border-color: $spring-green;
  margin-bottom: 5px;
  width: 100%;
}

.bludcode-icon {
  width: 8.750rem;
}

.login-title {
  color: $blue-question;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
}

.login-header-modal {
  background-image: url('../icons/rootstrap-isologo.svg');
  background-position: right 0.5em center;
  background-repeat: no-repeat;
  background-size: 2em;
  color: $blue-question;
  font-size: 2em;
  height: 2em;
  margin-bottom: 1em;
  padding-left: 0.5em;
}

.login-body-modal {
  color: $blue-question;
}

.input-login {
  margin-bottom: 2rem;
  width: 100%;

  input {
    border: none;
    color: $blue-gray;
    font-size: 2.2rem;
    outline: none;
    padding: .5rem 1rem;
    text-align: center;
    width: 100%;
  }

  .decoration {
    margin-top: -1rem;
  }
}

.dropdown-menu-center {
  margin-left: -120%;
}

.login-button {
  border-radius: 1.5rem;
  margin: 2em auto 0.6em;
  text-align: center;

  button {
    background-image: linear-gradient(-90deg, $spring-green 21%, $mint-green 100%);
    border-radius: 1.5rem;
    border-style: none;
    color: $blue-gray;
    cursor: pointer;
    padding: 1rem 3rem;

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: default;
      opacity: .2;
    }

    &:active {
      box-shadow: inset 0 0 1rem $gray-light;
    }

    &:hover:enabled {
      color: white;
    }
  }
}
