.empty-features {
  text-align: center;
  padding-top: 6em;

  img {
    margin-bottom: 3em;
  }

  h1 {
    color: #333B5B;
    font-size: 3.8em;
    font-weight: 300;
    line-height: 48px;
  }

  h2 {
    color: #767676;
    font-size: 1.8em;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: -0.1px;
  }
}